:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  height: 100vh;
  color: #eef;
  overflow: hidden;

}
 body{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
 
 }
.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  width: 80px;
  height: 80px;
  margin: 0.5rem;
  /* border-radius: 50%; */
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.color:hover {
  transform: scale(1.1);
}

.color.active {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.color.active::after {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
}

.color.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
}

.color.active:hover::before {
  opacity: 0.2;
}

.color.active:hover::after {
  opacity: 0.2;
}

.color.active::before,
.color.active::after {
  transition: all 0.3s ease-in-out;
}

.color.active:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.color-code {
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
  font-family: monospace;
}

.color-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.color-presets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  max-width: 600px;
  
}
.color-presets-header{
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.color-preset{
  height: 30px;
  margin: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.color-preset .name{
  font-size: 0.63rem;
}
.color-preset .small-box{
    width:8px;
    height: 8px;
    border-radius: 50%;
}

.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; */
}


  .info-toggle-group{
    display: flex;
    justify-content: space-between;
    margin:auto;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    max-width: 600px;
    font-size: 10px;
    padding: 1rem 0;
  }
  
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  