#root {
  max-width: 1280px;
  margin: 0 auto;
 
  height: 60vh;
  color: #eef;

}

.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.color {
  width: 50px;
  height: 50px;
  margin: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.color:hover {
  transform: scale(1.1);
}

.color.active {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.color.active::after {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
}

.color.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
}

.color.active:hover::before {
  opacity: 0.2;
}

.color.active:hover::after {
  opacity: 0.2;
}

.color.active::before,
.color.active::after {
  transition: all 0.3s ease-in-out;
}

.color.active:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.color-text {
  font-size: .5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}

.color-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 2rem; */
}
.color-presets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  max-width: 600px;
  
}
.color-presets-header{
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.color-preset
{
  /* width: 100px; */
  height: 30px;
  margin: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.color-preset  .name{
  font-size: 0.63rem;
}
.color-preset .small-box{
    width:8px;
    height: 8px;
    border-radius: 50%;
}

.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

